body{
      background-image: url('https://cdn.pixabay.com/photo/2025/04/02/18/48/background-9509852_1280.jpg');
      background-size: cover;
      background-repeat: no repeat;
      background-position: center;
      background-attachment: fixed;
    }
h1 {
    font-size: 75px;
    text-shadow:
    1px 1px 1px rgb(52, 7, 255),
    2px 2px 1px rgb(5, 193, 250);
    text-align: center;
}
h2{
  font-size: 50px;
  text-shadow:
  1px 1px 1px,
  2px 2px 1px;
  text-align: right;
}
h3{
  font-size: 40px;
  text-shadow:
  1px 1px 1px,
  2px 2px 1px;
  text-align:right;
}
h4{
  font-size: 50px;
  text-shadow:
  1px 1px 1px,
  2px 2px 1px;
  text-align:left;
}
button{
  w=250px
  h=250px
}



