<style>
    body{
      background-image: url('https://cdn.pixabay.com/photo/2025/04/02/18/48/background-9509852_1280.jpg');
      background-size: cover;
      background-repeat: no repeat;
      background-position: center;
      background-attachment: fixed;
    }
</style>


